:root {
  /* Alejo's color palette */
  --alejo-palette-DarkBlue: rgba(4, 17, 61);
  --alejo-palette-Blue: rgba(30, 97, 139);
  --alejo-palette-LightBlue: rgba(2, 186, 214);
  --alejo-palette-Orange: rgba(235, 114, 23);
  --alejo-palette-LightOrange: rgba(255, 169, 56);
  --logo-gretting-color: var(--alejo-palette-Orange);
  --entry-color: var(--alejo-palette-Blue);
  --download-link-color: var(--alejo-palette-LightOrange);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

#particles-js-background {
  background: radial-gradient(circle, #ececec, #0a3a9c);
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.header-container {
  position: relative;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  /* Flexbox properties*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-container .content-wrapper .logo-wrapper {
}
.header-container .content-wrapper .logo-wrapper h1.logo-gretting {
  color: var(--logo-gretting-color);
  font-family: 'Posterama2001W04-SemiBold';
  font-size: 3.3em;
}
.header-container .content-wrapper .logo-wrapper #logo-img {
  width: 370px;
  height: auto;
}

.header-container .content-wrapper h2.entry-text {
  color: var(--entry-color);
  font-family: 'Posterama2001W04-Regular';
  margin: 5px 0 !important;
  text-align: center;
  font-size: 1.5em;
}

.header-container .content-wrapper .cv-summary {
  color: var(--alejo-palette-DarkBlue);
  text-align: left;
  font-size: 1.4em;
  max-width: 640px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: max-height ease-out 0.3s, opacity ease 0.5s, margin linear 0.5s, padding linear 0.5s;
}
.header-container .content-wrapper .cv-summary.show {
  max-height: 300px;
  overflow: scroll;
  display: block;
  opacity: 1;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  transition: max-height ease-in 0.5s, opacity ease 0.5s, margin linear 0.5s, padding linear 0.5s;

  border-top: var(--alejo-palette-LightBlue) 2px solid;
  border-bottom: var(--alejo-palette-LightBlue) 2px solid;

  /* visibility: hidden; */
}

a.download {
  color: var(--download-link-color);
  font-family: 'Posterama2001W04-bold';
  font-size: 1.3em;
  transition: font-size ease 1s;
}
a.download:hover {
  font-size: 1.4em;
}

/*-> Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .header-container .content-wrapper .logo-wrapper {
  }
  .header-container .content-wrapper .logo-wrapper h1.logo-gretting {
    font-size: 1.8em;
  }
  .header-container .content-wrapper .logo-wrapper #logo-img {
    width: 200px;
  }
  .header-container .content-wrapper h2.entry-text {
    font-size: 1.2em;
  }
  .header-container .content-wrapper .cv-summary {
    color: var(--alejo-palette-DarkBlue);
    text-align: left;
    font-size: 1em;
    max-width: 640px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height ease-out 0.3s, opacity ease 0.5s, margin linear 0.5s, padding linear 0.5s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /* visibility: hidden; */
  }
  .header-container .content-wrapper .cv-summary.show {
    max-height: 300px;
    overflow: scroll;
    display: block;
    opacity: 1;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    transition: max-height ease-in 0.5s, opacity ease 0.5s, margin linear 0.5s, padding linear 0.5s;

    border-top: var(--alejo-palette-LightBlue) 2px solid;
    border-bottom: var(--alejo-palette-LightBlue) 2px solid;

    /* visibility: hidden; */
  }
  a.download {
    font-size: 1em;
  }
  a.download:hover {
    font-size: 1.1em;
  }
}
footer {
  position: absolute;
  bottom: 3%;
  right: 3%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer p {
  font-size: 12px;
}
